# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db
*.cache

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

.vs/


# Build results
**/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/ codeflow:open?pullrequest=https://github.com/maximilianfanning/NameGenerator/pull/5&ref=ChromeExtension